Django==5.2.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-crispy-forms==2.5
crispy-bootstrap5==2025.6

gunicorn==23.0.0
whitenoise==6.11.0

psycopg2-binary==2.9.10
dj-database-url==3.0.1

python-dotenv==1.1.1
pillow==11.3.0

firebase-admin==7.2.0
requests==2.32.5
